[filter "ipynb-output-strip"]
	clean = "jupyter nbconvert --ClearOutputPreprocessor.enabled=True --ClearMetadataPreprocessor.enabled=True --to=notebook --stdin --stdout --log-level=ERROR"
[filter "ipynb_filter"]
    clean = python ipynb_filter.py --clean %f
    smudge = python ipynb_filter.py --smudge %f
[filter "keyfilter"]
    clean = python keyfilter.py --clean %f
    smudge = python keyfilger.py --smudge %f
[merge "nbdev-merge"]
	name = resolve conflicts with nbdev_fix
	driver = nbdev_merge %O %A %B %P
